/* style.css */
body{
  background: rgb(245,245,245);
  color: #4e413b;
  text-align: center;
}
h1{
  font-family: Arial;
  color: black;
  font-weight: bold;
}
h2 {
  font-family: Pacifico;
  color: blue;
  text-decoration: underline;
}
p {
  font-family: Arial;
  color: black;
  font-style: italic;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#logo{
	background-image: url("images/linge.png");
	padding: 150px;
	text-shadow: 1px 1px 5px black;
}

#liste{
	text-align: left;
	background-color: black;
	color: white;
}

#liste p{
		color: white;
		font-style: italic;
}